body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* header */
.logoweb {
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logostudio {
  color: #2e2f42;
}

.navigation .navigation-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.navigation .navigation-link:hover,
.navigation .navigation-link:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}
.contact .contact-link {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.contact .contact-link:hover,
.contact .contact-link:focus {
  color: #404bbf;
}

/* main */
.section-one {
  background-color: #2e2f42;
}
.header-one {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
}
button {
  cursor: pointer;
}
.btn-item {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
}
.btn-item:hover {
  background-color: #404bbf;
}
.btn-item:focus {
  background-color: #404bbf;
}

/* section-two */
.section-two {
  background-color: #ffffff;
}
.section-two-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}
.section-two-text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* our team */
.team {
  background-color: #f4f4fd;
}
.team-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-list {
  background-color: #ffffff;
}
.team-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
}

/* our portfolio */
.portfolio {
  background-color: #ffffff;
}
.portfolio-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* footer*/
.footer {
  background-color: #2e2f42;
}
.footer-studio {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
